.mkWrap h1, .mkWrap h2, .mkWrap h3, .mkWrap h4 {
    font-weight: 600;
    font-family: 微软雅黑;
    line-height: 2;
    margin-bottom: 8px;
    color: #333;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.mkWrap h1 {
    font-size: 24px;
}
.mkWrap h2 {
    font-size: 22px;
}
.mkWrap h3 {
    font-size: 20px;
}
.mkWrap h4 {
    font-size: 18px;
}

.mkWrap strong {
    font-weight: 600;
    color: #333;
}
.mkWrap blockquote{
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-left: 7px solid #2196F3;
    background-color: #E9ECEF;
    margin-bottom:15px;
}
.mkWrap img {
    display: block;
    max-width: 450px;
    object-fit: cover;
    margin-bottom: 15px;
}
.mkWrap ul li, .mkWrap ol li, .mkWrap p{
    line-height: 1.6;
    font-size: 16px;
    color: #454545;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.mkWrap ul, .mkWrap ol, .mkWrap p{
    margin-bottom: 15px;
}
.mkWrap ul, .mkWrap ol {
    padding-left: 20px;
}
.mkWrap ul li {
    list-style-position: inside;
    list-style: disc;
}
.mkWrap ol li {
    list-style:decimal;
    list-style-position: inside;
}
em{
    font-style: italic;
}
.mkWrap pre {
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.mkWrap pre code {
    border-radius: 5px;
}

.mkWrap code, .mkWrap pre, .mkWrap pre code {
    font-family: Consolas, Monaco, monospace;
}