<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>xblog博客管理系统</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.6.8/layui.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
    <body>
        <div class="left">
            <div class="sysLogo">
                <div class="userHeadWrap">
                    <img class="userHead" src="img/uh.jpg" alt="">
                </div>
                <div class="uInfoWrap">
                    <span class="uName" th:text="${adminer.name}"></span>
                    <span class="logout">退出</span>
                </div>
            </div>
            <div id="toolBar" class="demo-tree demo-tree-box"></div>
        </div>
        <div class="right">
            <div id="categoryLoadingIcon" class="categoryLoadingIcon" style="display: none;">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <iframe src="" class="content" frameborder="0" id="content"></iframe>
        </div>
        <input type="hidden" id="token" th:value="${token}">
    </body>
    <script>
        $(() => {
            let token = $("#token").val();
            if (token != "") {
                window.localStorage.setItem('token', token);
            }
        })
    </script>
</html>